*~
*.bak
build/
__pycache__
*.pyc
dgpython_gage_compuscope/cs_lowlevel.c
.vscode
dist/
*.egg-info
*.pdb
*.pyd
*.c
spatialnde2_cpp_calibration_function/spatialnde2_cpp_calibration_function/calibration_function.cpp